body {
  margin: 0px;
  padding: 0;
  font-family: 'Times New Roman', sans-serif;
  color: #833533;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.main {
  width: 100%;
  max-width: 820px;
  border: 3px solid #833533;
  margin: 1% auto;
  padding: 1%;
  background-image: url(https://ims.semt.in/img/bground.jpg);
  background-repeat: repeat;
}

.bground {
}

.logo td {
  font-size: 12px;
}

.logo td small {
  font-size: 17px;
}

.marks {
  border: 1px solid #833533;
}

.marks th {
  border: 1px solid #833533;
  font-size: 14px;
  height: 45px;
}

.marks td {
  font-size: 14px;
  height: 45px;
  font-weight: bold;
  text-transform: uppercase;
}

.foot {
  font-size: 13px;
  line-height: 15px;
  border-top: 2px solid #833533;
  padding-top: 5px;
}

.line {
  line-height: 15px;
}

.stu-details {
  margin: 10px 0px;
}

.stu-details td {
  height: 30px;
  font-size: 15px;
  font-weight: bold;
}

.stu-details td.last-line {
  padding: 10px 0px 0px 0px;
  text-transform: none;
  font-size: 15px;
}

.pic {
  padding: 0px 0px 10px 0px;
}

.logo {
  max-width: 500px;
}

.divison {
  text-transform: uppercase;
}
